/*Check it*/
@import url("https://fonts.googleapis.com/css?family=Damion|Open+Sans&display=swap&subset=latin-ext");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variable*/
.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Open Sans", sans-serif;
  background-color: #40739e;
}

.header {
  margin: 30px 20px 15px 20px;
}

.header .header__title {
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 3.2em;
  color: #FFC312;
  text-shadow: 6px 6px 1px #032b4d;
}

.game {
  text-align: center;
  margin: 15px;
}

.score {
  margin: 15px;
}

.game__img {
  margin: 25px 20px 20px 20px;
  width: 135px;
  height: 135px;
  border-radius: 20%;
  border: none;
  outline: none;
  opacity: 0.5;
}

.game__img:hover {
  cursor: pointer;
  opacity: 1;
}

.game__img .fas {
  font-size: 85px;
}

.game__rock {
  box-shadow: 6px 6px 1px #eb2f06;
}

.game__rock:active {
  background-color: #eb2f06;
  box-shadow: 6px 6px 1px #FFFFFF;
}

.game__rock:active .fa-hand-rock {
  color: #FFFFFF;
}

.game__rock .fa-hand-rock {
  color: #eb2f06;
}

.game__paper {
  box-shadow: 6px 6px 1px #44bd32;
}

.game__paper:active {
  background-color: #44bd32;
  box-shadow: 6px 6px 1px #FFFFFF;
}

.game__paper:active .fa-hand-paper {
  color: #FFFFFF;
}

.game__paper .fa-hand-paper {
  color: #44bd32;
}

.game__scissors {
  box-shadow: 6px 6px 1px #1998f7;
}

.game__scissors:active {
  background-color: #1998f7;
  box-shadow: 6px 6px 1px #FFFFFF;
}

.game__scissors:active .fa-hand-scissors {
  color: #FFFFFF;
}

.game__scissors .fa-hand-scissors {
  color: #1998f7;
}

.game__btn {
  margin: 5px 20px 30px 20px;
  width: 180px;
  height: 55px;
  border-radius: 15%;
  font-size: 1em;
  background-color: #032b4d;
  color: #FFC312;
  box-shadow: 5px 5px 1px #FFC312;
  border: none;
  outline: none;
}

.game__btn:hover, .game__btn:active {
  cursor: pointer;
  background-color: #05467e;
  color: #eb2f06;
  box-shadow: 5px 5px 1px #eb2f06;
}

.game__title {
  margin: 0;
  font-size: 1.5em;
  color: #032b4d;
}

.score__table {
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 5%;
  font-size: 20px;
  background-color: #043966;
  box-shadow: 6px 6px 1px #032b4d;
  border-radius: 5%;
}

.score__table .score__cell {
  width: 570px;
  padding: 20px 15px;
  text-align: center;
  color: #FFC312;
}

.score__table .score__message {
  font-size: 26px;
  text-shadow: 6px 6px 1px #032b4d;
  padding-bottom: 5px;
  height: 65px;
}

.score__table .score__total {
  height: 40px;
  font-size: 36px;
  font-size: bold;
  box-shadow: 6px 6px 1px #032b4d;
  background-color: #05467e;
}

.score__table .active {
  letter-spacing: 4px;
  font-family: "Bangers", cursive;
}

/*Modal*/
.overlay {
  display: none;
  position: fixed;
  overflow: auto;
  padding: 30px;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay.show {
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: none;
  position: relative;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 5%;
  background-color: #FFFFFF;
}

.modal.show {
  display: block;
  text-align: center;
}

.modal__input {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 25px;
  border: 1px solid #032b4d;
  border-radius: 5px;
}

.modal__label {
  margin: 5px;
}

.modal__btn {
  margin-top: 12px;
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #032b4d;
  box-shadow: 3px 3px 1px #032b4d;
}

.modal__btn:hover, .modal__btn:active, .modal__btn:focus {
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 1px #eb2f06;
  color: #eb2f06;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  width: 40px;
  height: 30px;
}

.modal__btn-close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */