/*Check it*/
@import url("https://fonts.googleapis.com/css?family=Damion|Open+Sans&display=swap&subset=latin-ext");

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variable*/
$color-one: #40739e;
$color-two: #FFC312;
$color-three: #032b4d;
$color-four: #eb2f06;
$color-five: #44bd32;
$color-six: #1998f7;
$color-seven:#FFFFFF;
$color-eight: #718093;
$font-one: 'Open Sans', sans-serif;
$font-two: 'Bangers', cursive;

//General
.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-family: $font-one;
  background-color: $color-one
}

.header {
  margin: 40px 20px 20px 20px;
  .header__title {
    text-align: center;
    font-family: $font-two;
    font-size: 3em;
    color: $color-two;
    text-shadow: 6px 6px 1px $color-three;
  }
}

.game {
  margin: 20px;
  text-align: center;
}

.score {
  margin: 40px;
}

.game__img {
  width: 145px;
  height: 145px;
  border-radius: 20%;
  margin: 20px;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  .fas {
    font-size: 85px;
  }
}

.game__rock {
  box-shadow: 6px 6px 1px $color-four;
  &:active {
    background-color: $color-four;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-rock {
      color: $color-seven;
    }
  }
  .fa-hand-rock {
  color: $color-four;
  }
}

.game__paper {
  box-shadow: 6px 6px 1px $color-five;
  &:active {
    background-color: $color-five;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-paper {
      color: $color-seven;
    }
  }
  .fa-hand-paper {
  color: $color-five;
  }
}

.game__scissors {
  box-shadow: 6px 6px 1px $color-six;
  &:active {
    background-color: $color-six;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-scissors {
      color: $color-seven;
    }
  }
  .fa-hand-scissors {
    color: $color-six;
  }
}

// .game__btn {
//   width: 150px;
//   height: 50px;
//   border-radius: 10%;
//   border: none;

// }
/*Modal*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: $color-eight;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: flex;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: $color-seven;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

//
.score__table {
  margin: 0 auto;
  border-collapse: collapse;
}

.score__cell {
  width: 150px;
  height: 30px;
  border: 1.5px solid #273c75;
  text-align: center;
}



