//Global
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variables*/
$color-one: #40739e;
$color-two: #FFC312;
$color-three: #032b4d;
$color-four: #eb2f06;
$color-five: #44bd32;
$color-six: #1998f7;
$color-seven:#FFFFFF;
$font-one: 'Open Sans', sans-serif;
$font-two: 'Bangers', cursive;

//Page
.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-family: $font-one;
  background-color: $color-one;
}

//Header section
.header {
  margin: 60px 20px 15px 20px;
}

.header__title {
  text-align: center;
  font-family: $font-two;
  font-size: 3.2em;
  color: $color-two;
  text-shadow: 6px 6px 1px $color-three;
}

//Game section
.game {
  text-align: center;
  margin: 15px;
}

//Game section - hands
.game__img {
  margin: 25px 20px 20px 20px;
  width: 135px;
  height: 135px;
  border-radius: 20%;
  border: none;
  outline: none;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  .fas {
    font-size: 85px;
  }
}

.game__rock {
  box-shadow: 6px 6px 1px $color-four;
  &:active {
    background-color: $color-four;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-rock {
      color: $color-seven;
    }
  }
  .fa-hand-rock {
    color: $color-four;
  }
}

.game__paper {
  box-shadow: 6px 6px 1px $color-five;
  &:active {
    background-color: $color-five;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-paper {
      color: $color-seven;
    }
  }
  .fa-hand-paper {
    color: $color-five;
  }
}

.game__scissors {
  box-shadow: 6px 6px 1px $color-six;
  &:active {
    background-color: $color-six;
    box-shadow: 6px 6px 1px $color-seven;
    .fa-hand-scissors {
      color: $color-seven;
    }
  }
  .fa-hand-scissors {
    color: $color-six;
  }
}

//Game section - start button
.game__btn {
  margin: 5px 20px 30px 20px;
  width: 180px;
  height: 55px;
  border-radius: 15%;
  font-size: 1em;
  background-color: $color-three;
  color: $color-two;
  box-shadow: 5px 5px 1px $color-two;
  border: none;
  outline: none;
  &:hover, &:active {
    cursor: pointer;
    background-color: lighten($color-three, 10%);
    color: $color-four;
    box-shadow: 5px 5px 1px $color-four;
  }
}

//Game section - title
.game__title {
  margin: 0;
  font-size: 1.5em;
  color: $color-three;
}

//Score section
.score {
  margin: 15px;
}

.score__table {
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 5%;
  font-size: 20px;
  //border-radius: 5%;
}

.score__cell {
  width: 570px;
  padding: 20px 15px;
  text-align: center;
  color: $color-two;
}

.score__message {
  font-size: 26px;
  text-shadow: 5px 5px 1px $color-three;
  padding-bottom: 5px;
  height: 65px;

}
.score__message.active {
  letter-spacing: 4px;
  font-family: $font-two;
}

.score__total {
  height: 40px;
  padding: 10px;
  font-size: 40px;
  font-size: bold;
  box-shadow: 5px 5px 1px $color-three;
  background-color: lighten($color-three, 5%);
}

//Overlay
.overlay {
  display: none;
  position: fixed;
  overflow: auto;
  padding: 30px;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

 .overlay.show {
    display: flex;
}

//Modal
.modal {
  display: none;
  position: relative;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 5%;
  background-color: $color-seven;
}

.modal.show {
  display: block;
  text-align: center;
  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal__input {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 25px;
  border: 1px solid $color-three;
  border-radius: 5px;
}

.modal__label {
  margin: 5px;
}

.modal__btn {
  margin-top: 12px;
  margin-bottom:0;
  width: 40px;
  height: 40px;
   border-radius: 5px;
  font-size: 20px;
  border: 1px solid $color-three;
   box-shadow: 3px 3px 1px $color-three;
  &:hover, &:active, &:focus {
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 1px $color-four;
    color: $color-four;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  width: 40px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}
